---
layout: base.njk
title: About
permalink: /about/index.html
---

<article class="page page--about">
  <pre>DEBUG: {{ pages | dump }}</pre>
  <pre>DEBUG page: {{ pages.about | dump }}</pre>
  {% set page = pages.about %}
  
  {% for section in page.content.section %}
  <section class="page__section">
    {% if section.heading %}
    <h1>{{ section.heading }}</h1>
    {% endif %}
    <div class="page__body">
      {{ section.body | safe }}
    </div>
  </section>
  {% endfor %}
</article>
