---
layout: layouts/base.njk
title: Contact
permalink: /contact/index.html
---

<article class="page page--contact">
  {% set page = pages.contact %}
  
  {% for section in page.content.section %}
  <section class="page__section">
    {% if section.heading %}
    <h1>{{ section.heading }}</h1>
    {% endif %}
    <div class="page__body">
      {{ section.body | safe }}
    </div>
  </section>
  {% endfor %}
</article>
