---
layout: base.njk
pagination:
  data: projects
  size: 1
  alias: project
permalink: /projects/{{ project.meta.id }}/index.html
---

<article class="project">
  <header class="project__header">
    <h1 class="project__title">{{ project.meta.title }}</h1>
    {% if project.meta.subtitle %}
    <p class="project__subtitle">{{ project.meta.subtitle }}</p>
    {% endif %}
    
    <div class="project__meta">
      {% if project.meta.client %}
      <span class="project__client">{{ project.meta.client }}</span>
      {% endif %}
      {% if project.meta.date %}
      <span class="project__date">{{ project.meta.date }}</span>
      {% endif %}
      {% if project.meta.role %}
      <span class="project__role">{{ project.meta.role }}</span>
      {% endif %}
    </div>
    
    {% if project.meta.tags.tag %}
    <ul class="project__tags">
      {% for tag in project.meta.tags.tag %}
      <li class="project__tag">{{ tag }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>
  
  {% if project.summary %}
  <div class="project__summary">
    <p>{{ project.summary }}</p>
  </div>
  {% endif %}
  
  <div class="project__content">
    {% for section in project.content.section %}
    {% set sectionId = section.heading | lower | replace(" ", "-") | replace("/", "-") %}
    <section class="project__section{% if section['@_class'] %} {{ section['@_class'] }}{% endif %}" id="{{ sectionId }}">
      <div class="project__section-header">
        <h2>{{ section.heading }}</h2>
        {% if section['@_anchor'] %}
        <a href="#{{ sectionId }}" class="project__anchor-link" title="Copy link to section">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
          </svg>
        </a>
        {% endif %}
      </div>
      <div class="project__body">
        {{ section.body | safe }}
      </div>
      
      {% if section.media %}
        {% if section.media.image %}
          {% for image in section.media.image %}
          <figure class="project__figure">
            <img src="{{ image['@_src'] }}" alt="{{ image['@_alt'] }}">
            {% if image['@_caption'] %}
            <figcaption>{{ image['@_caption'] }}</figcaption>
            {% endif %}
          </figure>
          {% endfor %}
        {% endif %}
        
        {% if section.media.embed %}
        <div class="project__embed" data-type="{{ section.media.embed['@_type'] }}">
          <iframe src="{{ section.media.embed['@_src'] }}" frameborder="0"></iframe>
        </div>
        {% endif %}
      {% endif %}
    </section>
    {% endfor %}
  </div>
  
</article>
