---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://nicholasgalinski.com/</loc>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://nicholasgalinski.com/about/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://nicholasgalinski.com/contact/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://nicholasgalinski.com/resume/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://nicholasgalinski.com/case-studies/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://nicholasgalinski.com/individual-samples/</loc>
    <priority>0.8</priority>
  </url>
  {%- for section in navigation.section %}
  {%- for item in section.item %}
  <url>
    <loc>https://nicholasgalinski.com/projects/{{ item['@_id'] }}/</loc>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
  {%- endfor %}
</urlset>
